<div *ngFor="let p of errors" type="button" class="row alert alert-danger col">
  {{p}}
</div>


<div class="row">
  <button *ngFor="let p of getPaginas()" type="button" class="col mx-1 btn btn-primary" (click)="setPagina(p)">
    {{p}}
  </button>
</div>
<div class="row">
  <h3>Pagina {{pagina}}</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let objeto of verPagina(pagina, 'precio', -1)">
        <tr>
          <td>{{objeto.id}}</td>
          <td>{{objeto.nombre}}</td>
          <td>{{objeto.precio | currency:'€'}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="verDetalle(objeto)">
              <span *ngIf="!objeto.ver">Ver</span>
              <span *ngIf="objeto.ver">Quitar</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="objeto.ver == true">
          <td colspan="4">
            <table class="table">
              <tr>
                <th>codigo</th>
                <td>{{objeto.id}}</td>
              </tr>
              <tr>
                <th>nombre</th>
                <td>{{objeto.nombre}}</td>
              </tr>
              <tr>
                <th>precio</th>
                <td>{{objeto.precio}}</td>
              </tr>
              <tr>
                <th>mas datos</th>
                <td>aqui podrían ir más datos</td>
              </tr>
            </table>
          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>

</div>