
<div class="row">
    <div class="col">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="uploadContent()">Subir contenidos
        </button>
        <pre *ngIf="contenido!=null">{{contenido | json}}</pre>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="loadData(contenido.file, 'text')">Bajar contenido
        </button>
        <pre *ngIf="datosFichero!=null">
          {{datosFichero}}
        </pre>
    </div>
</div>


<div class="row">
    <div class="col">
        <form>
            <p>single</p>
            <input type="file" id="f1" accept="image/*" (change)="uploadData($event)">
            <pre *ngIf="filename!=null">{{filename | json}}</pre>
            <p>multiple</p>
            <input type="file" id="f1" multiple accept="image/*" (change)="uploadDataMultiple($event)">
          
            <table *ngIf="files!=null" class="table">
                <tr *ngFor="let file of files.file">
                    <td>{{file.filename}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="loadData(file, 'blob')">Bajar imagen
                        </button>
                    </td>
                    <td>
                        <img *ngIf="file.img" width="200"  [src]="file.img" alt="imagen en base 64" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>



<div class="row my-4" *ngFor="let o of imagenes">
    <div class="col ">
        <img  [src]="o" alt="Red dot" />
    </div>
</div>

<button  type="button" name="" id="" class="my-4 btn btn-primary btn-lg btn-block" (click)="getFicheros()">
    ver Ficheros</button>
<table class="table">
    <tr *ngFor="let file of ficheros">
        <td>
                {{file.filename}}
        </td>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="loadData(file, 'blob')">Bajar imagen
            </button>
        <td>
             <img *ngIf="file.img" width="200"  [src]="file.img" alt="imagen en base 64" />
        </td>
    </tr>
</table>
