<div class="row">
    <div class="col">
       <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="uploadContent()">Subir contenidos</button>
       <pre  *ngIf="contenido!=null">{{contenido | json}}</pre>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="loadData(contenido.file.filename, 'text')">Bajar  contenido</button>
        <pre  *ngIf="datosFichero!=null">
          {{datosFichero}}
        </pre>
    </div>
  </div>
  

<div class="row">
  <div class="col">
      <form>
          <p>single</p>
          <input type="file" id="f1"  accept="image/*"  (change)="uploadData($event)">
          <pre *ngIf="filename!=null">{{filename | json}}</pre>
          <p>multiple</p>
          <input type="file" id="f1" multiple accept="image/*"  (change)="uploadDataMultiple($event)">
          <pre *ngIf="files!=null">{{files | json}}</pre>
      </form>
  </div>
</div>
<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="loadData('file-1537266142317.png', 'blob')">Bajar  imagen</button>
<!-- <img *ngIf="base64data" [src]="base64data" alt="Red dot" /> -->

<ng-container *ngFor="let o of imagenes">
    <img width=156  [src]="o" alt="Red dot" />
</ng-container>