<div class="container">
  <div class="row">
    <div class="col">
      <h2>Alicante Front End</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3>Sesión 1</h3>
      <ul class="list-group" style="cursor:pointer">
        <li class="list-group-item" (click)="opcion = 'tabla'">Tabla</li>
        <li class="list-group-item" (click)="opcion = 'servicio'">Servicio</li>
        <li class="list-group-item" (click)="opcion = 'directiva'">Directiva</li>
        <li class="list-group-item" (click)="opcion = 'rx'">RX</li>
        <li class="list-group-item" (click)="opcion = 'httpbasico'">Http</li>
        <li class="list-group-item" (click)="opcion = 'http'">Http upload</li>
        <li class="list-group-item" (click)="opcion = 'errores'">Errores</li>
      </ul>
    </div>
    <div class="col">
      <app-ejemplo1 *ngIf="opcion =='tabla'"></app-ejemplo1>
      <app-servicio *ngIf="opcion =='servicio'"></app-servicio>
      <app-directiva *ngIf="opcion =='directiva'"></app-directiva>
      <app-rx *ngIf="opcion =='rx'"></app-rx>
      <app-http *ngIf="opcion =='http'"></app-http>
      <app-httpbasico *ngIf="opcion =='httpbasico'"></app-httpbasico>
      <app-errores *ngIf="opcion =='errores'"></app-errores>

      <!-- <div class="row my-3">
    <button *ngIf="mode=='card'" (click)="this.mode = 'table'" type="button" name="" id="" class="col-3 btn btn-primary btn-lg btn-block">Table</button>
    <button *ngIf="mode=='table'" (click)="this.mode = 'card'" type="button" name="" id="" class="col-3 btn btn-primary btn-lg btn-block">Card</button>
  </div>
-->

    </div>
  </div>
</div>