<div class="container">
  <!-- <div class="row my-3">
    <button *ngIf="mode=='card'" (click)="this.mode = 'table'" type="button" name="" id="" class="col-3 btn btn-primary btn-lg btn-block">Table</button>
    <button *ngIf="mode=='table'" (click)="this.mode = 'card'" type="button" name="" id="" class="col-3 btn btn-primary btn-lg btn-block">Card</button>
  </div>

  <app-card [fichas]="fichas" *ngIf="mode=='card'"></app-card>
  <app-table [fichas]="fichas" *ngIf="mode=='table'"></app-table> -->
  <div class="row">
    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="setIdioma('es')">Español</button>
    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="setIdioma('va')">Valenciano</button>
  </div>
  <p appI18n id="id1">Código</p>
  <p appI18n id="id2">Nombre</p>
  <p>importe {{123 }}</p>
  <ul>
    <li *ngFor="let o of t | async">{{o}}</li>
  </ul>
  <h2>Lista de eventos</h2>
  <ul>
    <li *ngFor="let o of t1$ | async ">{{o | json}}</li>
  </ul>
  <h2>Timer</h2>
  <ul>
    <li *ngFor="let o of timer$ | async ">{{o | json}}</li>
  </ul>
</div>